body {
    background-color: #CEE2F3;
}

#svg1{
    background: none;
    width: 900px;
    height: 610px;
    margin-left: -290px;
}

#svg2{
    background: none;
    width: 900px;
    height: 610px;
    margin-left: -290px;
}


.title {
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    margin-top: -400px;
    margin-left: 270px;
    color: #263A4F;
}

#one {
    width: 440px;
    height: 100px;
    margin-left: 330px;
    margin-top: 250px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
}

#head1 {
    margin-top: 80px;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #263A4F;
    margin-left: 300px;
}

.svgBox {
    width: 900px;
    height: 600px;
    margin-top: -10px;
}

.svgBox1 {
    margin-top: 50px;
    background: none;
}
.svgBox2 {
    margin-top: -615px;
    background: none;
}

.svgBox3 {
    margin-top: -260px;
    background: none;
}

.buttonbox {
    margin-top: -100px;
}

button {
    margin-left: 30px;
}

img {
    width: 474.44px;
    height: 300px;
    margin-left: 400px;
    margin-top: -800px;
}

















